<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <link rel="stylesheet" href="/css/application.css">

  <body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <hr class="nice-hr">

        <h4>
          Want moar?
          <a href="https://twitter.com/bydorian">@bydorian</a> or
          <form class="nice-form" accept-charset="UTF-8" action="https://formkeep.com/f/0652375da2b8" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input required="true" class="nice-input" type="email" id="email-address" name="email" placeholder="gimme.your@sweet.email" />
            <button class="nice-button" type="submit">Submit</button>
          </form>
        </h4>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
